// layout CSS

body{
    margin-top:18px;
}

.container{
    width:940px;
    margin-left:auto;
    margin-right:auto;
}

.main_logo{
    width:300px;
    margin-top:10px;
}

.social_links{
    float:right;
    a{
        display:block;
        float:left;
    }
    img{
        width:30px;
    }
}